mixin videoBlock( video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls = true)
            h4.videoBlock__title=video.title
            h6.videoBlock__views=video.views



//- mixin 에 자주 반복되는 html 코드를 담는다
//- 하나의 argument 가 필요한데 video 로 명명하고 default 로 설정 (비어있음)
//- mixin 에 인자가 입력되면, 그 객체의 이름을 video 라고 한다.